
.bridge-information-element-container {
  position: absolute;
  top: 120px;
  right: 25px;
  height: calc(100vh - 120px);
  width: 375px;

  display: none;

  //.bridge-information-element {
  //  width: 100%;
  //  background-color: $background-color;
  //  border-radius: 10px;
  //  padding: 20px 20px;
  //  margin-bottom: 10px;
  //
  //  header {
  //    display: flex;
  //
  //    .name {
  //      color: $title-font-color;
  //      font-family: $flanders_art_sansmedium;
  //      font-size: 20px;
  //    }
  //
  //    .icons-container {
  //      margin-left: auto;
  //      display: flex;
  //      margin-top: 5px;
  //
  //      .close-icon {
  //        margin-left: 10px;
  //      }
  //    }
  //  }
  //
  //
  //  .accessibility-item-container {
  //    display: flex;
  //
  //    .accessibility-item {
  //      margin-right: 10px;
  //    }
  //  }
  //}
}

@include media('lg') {
  .bridge-information-element-container {
    position: absolute;
    top: 120px;
    right: 25px;
    height: calc(100vh - 120px);
    width: 375px;
    display: block;

    //.bridge-information-element {
    //  width: 100%;
    //  background-color: $background-color;
    //  border-radius: 10px;
    //  padding: 20px 20px;
    //  margin-bottom: 10px;
    //
    //  header {
    //    display: flex;
    //
    //    .name {
    //      color: $title-font-color;
    //      font-family: $flanders_art_sansmedium;
    //      font-size: 20px;
    //    }
    //
    //    .icons-container {
    //      margin-left: auto;
    //      display: flex;
    //      margin-top: 5px;
    //
    //      .close-icon {
    //        margin-left: 10px;
    //      }
    //    }
    //  }
    //
    //
    //}
  }
}


