
.bridge-information-element-container {
  display: none;
}

@include media('lg') {
  .bridge-information-element-container {
    position: absolute;
    top: 120px;
    right: 25px;
    height: calc(100vh - 120px);
    width: 375px;
    display: block;
  }
}


