.main-container{
  display: grid;
  grid-template-columns:  1fr;
}

@include media('lg'){
  .main-container{
    grid-template-columns: 424px 1fr;
    grid-template-areas: 'header header' '. .';

    header{
      grid-area: header;
    }
  }
}
