#main-header {
  padding: 16px;
  display: flex;
  height: 99px;
  position: relative;

  .logo-and-name {
    display: flex;
  }

  #logo {
    display: none;
  }

  #app_name {
    color: $title-font-color;
    font-family: $flanders_art_sansbold;
    font-size: 34px;
    margin-bottom: 15px;
  }

  #app_current_location {
    color: $subtitle-font-color;
    font-size: 18px;
    font-family: $flanders_art_sansmedium;
  }

  .news-item-button {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: calc(calc(99px - 48px) / 2);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $dark-blue;

    figure{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@include media('lg') {
  #main-header {
    #logo {
      display: block;
      margin-right: 16px;
    }

    #app_name {
      margin-bottom: 0px;
    }

    .news-item-button {
      display: none;
    }
  }
}

