@font-face {
  font-family: 'flanders_art_sansbold';
  src: url('../assets/fonts/flandersartsans-bold-webfont.woff2') format('woff2'),
  url('../assets/fonts/flandersartsans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'flanders_art_sanslight';
  src: url('../assets/fonts/flandersartsans-light-webfont.woff2') format('woff2'),
  url('../assets/fonts/flandersartsans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'flanders_art_sansmedium';
  src: url('../assets/fonts/flandersartsans-medium-webfont.woff2') format('woff2'),
  url('../assets/fonts/flandersartsans-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



//
//@font-face {
//  font-family: 'flanders_art_sansregular';
//  src: url('../assets/fonts/flandersartsans-regular-webfont.woff2') format('woff2'),
//  url('../assets/fonts/flandersartsans-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//
//}



//
//@font-face {
//  font-family: 'flanders_art_serifbold';
//  src: url('../assets/fonts/flandersartserif-bold-webfont.woff2') format('woff2'),
//  url('../assets/fonts/flandersartserif-bold-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//
//}
//
//
//
//
//@font-face {
//  font-family: 'flanders_art_seriflight';
//  src: url('../assets/fonts/flandersartserif-light-webfont.woff2') format('woff2'),
//  url('../assets/fonts/flandersartserif-light-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//
//}
//
//
//
//
//@font-face {
//  font-family: 'flanders_art_serifmedium';
//  src: url('../assets/fonts/flandersartserif-medium-webfont.woff2') format('woff2'),
//  url('../assets/fonts/flandersartserif-medium-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//
//}
//
//
//
//
//@font-face {
//  font-family: 'flanders_art_serifregular';
//  src: url('../assets/fonts/flandersartserif-regular-webfont.woff2') format('woff2'),
//  url('../assets/fonts/flandersartserif-regular-webfont.woff') format('woff');
//  font-weight: normal;
//  font-style: normal;
//}
